<table class="table table-striped table-bordered table-hover ">
    <thead>
        <tr>
            <th>DNid</th>
            <th>Tên doanh nghiệp</th>
            <th>Tên Hồ sơ</th>
            <th>Lượt xem</th>
            <th>Chi tiết/Xóa</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.DoanhNghiep != null)
        {
            foreach (DVVLBD.Models.dvvlBD.DoanhNghiep_HS item in ViewBag.DoanhNghiep)
            {
                <tr>
                    <td>@item.ID_HSTuyenDung</td>
                    <td>@item.DoanhNghiep.TenDoanhNghiep</td>
                    <td>@item.TieuDeHoSo</td>
                    <td>@item.SoLuotXem</td>
                    <td class="center">
                        <a class="btn btn-danger" style="color: #fff; background-color: #d9534f; border-color: #d43f3a;" href="/TD/TD_Detail/@item.ID_HSTuyenDung" target="_blank"><span class="glyphicon glyphicon-edit"></span></a>
                        <a class="btn btn-warning" onclick="return btnXoaHSTD()" style="color: #fff; background-color: #f0ad4e; border-color: #eea236;" @*href="/Account/XoaHSTD/@item.ID_HSTuyenDung"*@><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            }
        }
    </tbody>

</table>