<div class="row" style="border-bottom: 3px solid #006fc7; margin:0 ">
    <div class="col-md-12" style="padding:0">
        <span style="margin-top:0" class="title-part">
            <h5>TUYỂN DỤNG THEO KHU VỰC</h5>
        </span>
    </div>
</div>
<div>
    <div class="col-md-12">
        <div class="col-md-4">
            <a href="/TD/DSTDTheoKhuVuc/116"><img class="kv" src="~/Images/KhuVuc_Images/thudaumot.png" /></a>
            <a href="/TD/DSTDTheoKhuVuc/117"><img class="kv" src="~/Images/KhuVuc_Images/tanuyen.png" /></a>
            <a href="/TD/DSTDTheoKhuVuc/12263"><img class="kv" src="~/Images/KhuVuc_Images/baubang.png" /></a>
        </div>
        <div class="col-md-4">
            <a href="/TD/DSTDTheoKhuVuc/97"><img class="kv" src="~/Images/KhuVuc_Images/thuanan.png" /></a>
            <a href="/TD/DSTDTheoKhuVuc/122"><img class="kv" src="~/Images/KhuVuc_Images/bencat.png" /></a>
            <a href="/TD/DSTDTheoKhuVuc/103"><img class="kv" src="~/Images/KhuVuc_Images/dautieng.png" /></a>
</div>
        <div class="col-md-4">
            <a href="/TD/DSTDTheoKhuVuc/123"><img class="kv" src="~/Images/KhuVuc_Images/dian.png" /></a>
            <a href="/TD/DSTDTheoKhuVuc/12270"><img class="kv" src="~/Images/KhuVuc_Images/bactanuyen.png" /></a>
            <a href="/TD/DSTDTheoKhuVuc/468"><img class="kv" src="~/Images/KhuVuc_Images/phugiao.png" /></a>
</div>
    </div>
</div>